@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --selected: #fcd13a;
  --button-background: #f0f0f0;
  --button-foreground: #171717;
  --button-border: #cccccc;
  --tag-background: #e9e9e9;
  --tag-foreground: #171717;
  --tag-hover-background: #ffda53;
  --tag-active-background: #fcd13a;
  --tag-border: #bbbbbb;
  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
  --card-background: #f9f9f9;
  --card-foreground: #171717;
  --card-border: #dddddd;
  --card-open-background: rgba(65, 105, 225, 0.30);
  --card-open-border: var(--gray-600);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --button-background: #1a1a1a;
    --button-foreground: #ededed;
    --button-border: #333333;
    --tag-background: #333333;
    --tag-foreground: #ededed;
    --tag-hover-background: #555555;
    --tag-active-background: #fcd13a;
    --tag-border: #555555;
    --selected: #fcd13a;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --card-background: var(--card-background);
    --card-foreground: var(--card-foreground);
    --card-border: var(--card-border);
    --card-open-background: var(--card-open-background);
    --card-open-border: var(--card-open-border);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.tag {
  border-radius: 20px;
  background-color: var(--tag-background);
  border-width: 2px;
  border-color: var(--tag-border);
  cursor: pointer;
  user-select: none;
}

.tag:hover {
  border-color: var(--selected);
  background-color: var(--tag-hover-background);
}

.tag:active {
  border-color: var(--selected);
  background-color: var(--tag-active-background);
}

.selectedTag {
  border-width: 2px;
  border-radius: 20px;
  border-color: var(--selected);
  background-color: var(--tag-active-background);
  color: #000000;
  cursor: pointer;
  user-select: none;
}

.selectedTag:hover {
  border-color: darkgrey;
  background-color: var(--tag-border);
  color: #000000;
}

.selectedTag:active {
  background-color: darkgrey;
  border-color: var(--tag-border);
}

.projectCard {
  border-radius: 20px;
  border-width: 2px;
  border-color: var(--tag-border);
}

.selectedProjectCard {
  border-radius: 20px;
  border-width: 2px;
  border-color: var(--selected);
}

.selectedTagPostTitle-lazyDeveloper {
  border-width: 2px;
  border-radius: 20px;
  border-color: var(--selected);
  background-color: var(--selected);
  color: #000000;
  user-select: none;
}

.openCard{
  background-color: var(--card-open-background);
  border-bottom: var(--card-open-border) 4px solid;
}


/* https://www.w3schools.com/howto/howto_js_popup.asp 🙏 */

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 10rem;
  background-color: var(--tag-border);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--tag-border) transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* that shameful site -> */

@keyframes slideDown {
  0%   { transform: translateY(-10px); opacity: 0; }
  100% { transform: translateY(0);     opacity: 1; }
}
.slideDown { animation: slideDown 0.3s ease-in-out forwards; }

@keyframes slideUp {
  0%   { transform: translateY(0);     opacity: 1; }
  100% { transform: translateY(-10px); opacity: 0; }
}
.slideUp { animation: slideUp 0.3s ease-in-out forwards; }


/* webkit scroll bar */

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--card-open-background);
  border-radius: 4px;
}